.tokenfield {
  position: relative;
}

.tokenfield.tokenfield-mode-tokens {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 6px 12px 6px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.tokenfield.tokenfield-mode-tokens::-ms-expand {
  border: 0;
  background-color: transparent;
}

.tokenfield.tokenfield-mode-tokens[disabled], .tokenfield.tokenfield-mode-tokens[readonly], fieldset[disabled] .tokenfield.tokenfield-mode-tokens {
  background-color: #eeeeee;
  opacity: 1;
}

.tokenfield.tokenfield-mode-tokens[disabled], fieldset[disabled] .tokenfield.tokenfield-mode-tokens {
  cursor: not-allowed;
}

.tokenfield.tokenfield-mode-tokens .selected {
  background: rgba(0, 0, 0, 0.1);
}

.tokenfield-set {
  display: inline-flex;
}

.tokenfield .tokenfield-set > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.tokenfield .tokenfield-set > ul > li {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  display: inline-flex;
  line-height: 1.5;
  white-space: nowrap;
  margin-right: .75rem;
}

.tokenfield .tokenfield-set > ul > li > .item-label {
  background-color: #3273dc;
  color: #fff;
  border-radius: 4px 0 0 4px;
  padding-left: .75em;
  padding-right: .75em;
}

.tokenfield .tokenfield-set > ul > li .item-remove:hover {
  background-color: #e8e8e8;
}

.tokenfield .tokenfield-set > ul > li .item-remove {
  background-color: #f5f5f5;
  align-items: center;
  border-radius: 0 4px 4px 0;
  line-height: 1.5;
  color: #4a4a4a;
  width: 1.5em;
  padding-left: 0.25em;
  margin-left: 1px;
}

.tokenfield .tokenfield-input {
  border: none;
  outline: none;
  display: inline-flex;
  font-size: 1rem;
}

.tokenfield .tokenfield-input::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
.tokenfield .tokenfield-input::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
.tokenfield .tokenfield-input:-ms-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
.tokenfield .tokenfield-input:-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.tokenfield .tokenfield-suggest {
  position: absolute;
  left: -1px;
  top: 100%;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-sizing: content-box;
}

.tokenfield .tokenfield-suggest > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tokenfield .tokenfield-suggest > ul > li {
  padding: 6px 10px;
  cursor: pointer;
}
